################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AliFitnessAE/v16/Server/sqlite3
/src/AliFitnessAE.Web.Mvc/Images
