@using AliFitnessAE.Web.Models.Admin.Users
@model PhotoTrackingIndexViewModel
@{
    Layout = null;
}

<div class="modal fade right" id="PhotoTrackingCreateModal" tabindex="-1" role="dialog" aria-labelledby="PhotoTrackingCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-full-height modal-right modal-lg" role="document">
        <div class="modal-content">
            <input type="hidden" id="photoTrackingId" />
            <div id="create-tracking-photo">

            </div>
        </div>
    </div>
</div>
