@{
    ViewBag.Title = L("ForgotPasswordConfirmation");
}
<div class="card">
    <div class="card-body">
        <div class="alert alert-default-light" role="alert">
            <h4>@L("ForgotPasswordConfirmation")</h4>
        </div>
        <div class="alert alert-success" role="alert">
            <p>
                The link has been sent, please check your email to reset your password.
            </p>
            <a asp-action="Login">Login</a>
        </div>
    </div>
</div>
