<a class="brand-link" asp-controller="Home" asp-action="Index">
    <div class="logo">
        <img src="~/Allison/assets/img/logot5.png" alt="image">
    </div>
    @*<img src="~/Allison/assets/img/logot5.png" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: .8">*@
    @*<span class="brand-text font-weight-light">BodyTranscend</span>*@
</a>
