<!-- Footer -->
<footer id="footer" class="footer">
    <!-- Your Company Name -->
    <img src="~/view-resources/Views/Theme/images/logo-icon.png" width="200" alt="Logo" />
    <!-- Copyright -->
    <p class="copyright normal">© 2014 <span class="colored">Fitness.</span> All Rights Reserved.</p>
</footer><!-- End Footer -->

@*@using AliFitnessAE
<footer class="main-footer">
    <strong>Copyright &copy; @DateTime.Now.Year <a href="javascript:void(0);">AliFitnessAE</a>.</strong> All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>@L("Version")</b> @AppVersionHelper.Version [@AppVersionHelper.ReleaseDate.ToString("yyyyMMdd")]
    </div>
</footer>*@
